{% extends 'base.html' %}
{% block body %}

<form class="" action="/delete/{{ customer.id }}" method="POST">

  <table border='0' width='480px' cellpadding='0' cellspacing='0' align='center'>
<center><tr>
   <td><h1 id="hhh">Delete Customer</h1></td>
</tr><center>

<table border='0' width='480px' cellpadding='0' cellspacing='0' align='center'>
<tr>
      <td align='left' class="control-label" for="cid" >Customer SSN id</td>
<td>{{customer.id}}</td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
  <td align='left' class="control-label" for="cname" >Customer Name</td>
<td>{{customer.name}}</td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
  <td align='left' class="control-label" for="age" >Age<span class="required">*</span></td>
<td>{{customer.age}}</td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
<td align='left' class="control-label" for="add" >Address<span class="required">*</span></td>
<td>{{customer.address}}</td>
</tr>
<tr> <td>&nbsp;</td> </tr>


<table border='0' cellpadding='0' cellspacing='0' width='200px' align='center'>
<tr>
    <td align='center'><button class="button button2" type='submit' name='submit' >Submit</td>
    <td align='center'><a class="button button2 design_for_a" href="/delete">Cancel</a></td>
</tr>
</table>
</table>
</table>
</form>
<br>
<br>
{% endblock %}


